.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 186px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
  }
}
